@use '../../assets/styles/theme.scss';
.chooseCategoryIconClicked{
  background-color: rgb(255, 255, 255) !important;
  border: 2px solid theme.$pinkish-red !important;
  transition: all 0.1s ease;  
}
.chooseCategoryIcon, .chooseCategoryIconClicked{

  transition: all 0.2s ease;  
  padding: 2px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  height: 65px;
  width: 65px;
  align-items: center;
  justify-content: space-between;
  border: 2px solid rgba(0, 0, 0, 0);
  img{
    height: 45px;
  }
  span{
    font-weight: 900;
    font-size: 9px;
  }
}
 