@use '../../assets/styles/theme.scss';
.listItemGray {
  background-color: #e6e6e6 !important;
  color: #888;
  text-decoration: line-through;
  border-bottom: 3px solid gray !important;
  border-left: 3px solid gray !important;
  img{
    filter: invert(2%) sepia(5%) saturate(24%) hue-rotate(0deg);
  }
  .remove{
    flex: 1;
    filter: invert(4%) brightness(300%) sepia(550%) saturate(2400%) hue-rotate(0deg) opacity(0.8) !important;
  }
}
.listItem{
  background-color: white;
  min-height: 40px;
  display: flex;
  align-items: center;
  border-bottom: 3px solid theme.$pinkish-red;
  border-left: 3px solid theme.$pinkish-red;
  // border-top: 2px solid rgba(92, 66, 66, 0.205);
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
  -webkit-box-shadow: 0px 2px 16px 3px rgba(99, 99, 99, 0.2);
  -moz-box-shadow: 0px 2px 16px 3px rgba(99, 99, 99, 0.2);
  box-shadow: 0px 2px 16px 3px rgba(99, 99, 99, 0.2);
  margin: 5px;


  .category{
    height: 35px;
    flex: 1;
    padding: 2px;
  }
  .name{
    flex: 7;
    max-height: 120px;
    overflow: hidden;
  }
  .remove{
    height: 35px;
    flex: 1;
    filter: invert(25%) sepia(550%) saturate(2400%) hue-rotate(0deg);
  }
}