.shortcuts{
  display: flex;
  padding: 5px;

  .shortcut{
    flex: 1;
    justify-content: space-around;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    span{
      background-color: pink;
      font-size: 14px;
    }
    img{
      width: 40px;
    }
  }
}