@use '../../assets/styles/theme.scss';
.oneListImportant{
  background: theme.$main-gradient !important;
  color: white !important;

  .left{
    .abstract{
      color: rgb(255, 255, 255) !important;
    }
  }
  .right{
    img{
      filter: invert(1) !important;
    }
  }
  .complete{
    filter: invert(0) !important;
  }
}
.oneList{
  width: 100%;
  height: 164px;
  margin-top: 15px;
  padding: 15px 20px 15px 25px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 2px 16px 0px rgba(99, 99, 99, 0.2);
  -moz-box-shadow: 0px 2px 16px 0px rgba(99, 99, 99, 0.2);
  box-shadow: 0px 2px 16px 0px rgba(99, 99, 99, 0.2);
  display: flex;
  background-color: white;
  min-height: 100px;
  
  .left{
    display: flex;
    flex-direction: column;
    flex:9;
    
    .title{
      max-width: 320px;
      display: flex;
      font-size: 25px;
      overflow: hidden;
      max-height: 29px;
      margin-bottom: 5px;
    }
    .abstract{
      font-size: 20px;
      color: rgb(90, 90, 90);
      overflow-y: hidden;
    }
  }
  .right{
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
    justify-content: space-between;
    align-items: center;

    img{
      height: 25px;
      filter: invert(0.4);
    }
    .complete{
      font-size: 15px;
      filter: invert(0.4);
    }
  }
}