@use '../../assets/styles/theme.scss';
.addItemForm{
  background-color: theme.$background-color;
  height: 400px;
  width: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  -webkit-box-shadow: 0px 2px 16px 3000px rgba(0, 0, 0, 0.26);
  -moz-box-shadow: 0px 2px 16px 3000px rgba(0, 0, 0, 0.26);
  box-shadow: 0px 2px 16px 3000px rgba(0, 0, 0, 0.26);
  padding: 0px 40px;
  justify-content: start;


  .title{
    width: 100%;
    text-align: center;
    padding: 10px;
    flex: 1;
    height: 60px;
    margin-top: 20px;
  }
  form{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 6;

    input{
      width: 100%;
      font-size: 18px;
      margin: 10px 0px;
      border-radius: 10px;
      border: none;
      background-color: white;
      -webkit-box-shadow: 0px 2px 16px 0px rgba(99, 99, 99, 0.2);
      -moz-box-shadow: 0px 2px 16px 0px rgba(99, 99, 99, 0.2);
      box-shadow: 0px 2px 16px 0px rgba(99, 99, 99, 0.2);
      padding: 12px;
      
    }
  }
  .categoryTitle{
    font-size: 15px;
    font-weight: 900;
  }
  .categoryIcons{
    flex: 6;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    overflow-y: scroll;
    max-height: 140px; 

    .categoryIcon{
      padding: 2px;
      border-radius: 5px;
      display: flex;
      flex-direction: column;
      height: 60px;
      width: 60px;
      align-items: center;
      justify-content: space-between;
      img{
        height: 45px;
      }
      span{

        font-size: 10px;
      }
    }
  }



  .buttonsArea{
    flex: 1;
    margin: 10px 0px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;

    .createButton, .cancelButton{
      width: 125px;
      height: 50px;
      border-radius: 25px;
      border: none;
      padding: 5px;
      font-size: 20px;
      color: white;
      font-weight: 900;
    }
    .cancelButton{
      background-color: gray;
    }
    .createButton{
      background: theme.$main-gradient;
    }
    a{
      text-decoration: none;
      color: inherit;
    }
  }
}