
@use './theme.scss';

*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:focus-visible {
  outline-style: outset;
  outline-color: theme.$pinkish-red;
  outline-width: 3px;
  border-radius: 3px;
  outline-offset: 2px;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.6rem;
  margin: 0;
  height: 100vh;
  background-color: theme.$background-color;
}

@media (min-width: theme.$breakpoint-tablet) {
}

@media (max-width: theme.$breakpoint-tablet) {
}

@media (max-width: theme.$breakpoint-tablet) {
}