@use '../../assets/styles/theme';

.homePage{
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  > :nth-child(3){
    width: 100%;
    position: absolute;
    bottom: 0px;
  }
}
